@import "_veriables";

.navbar-container {
  display: flex;
  width: 80%;
  padding: 1rem;
  justify-content: space-between;
  border-bottom: 1px solid darkgrey;

  .nav-content-box-left {
    @include flexible-row-space;
    width: 55%;
    .nav-link-container {
      @include flexible-row-flow;
      justify-content: space-between;
      width: 100%;

      li {
        
        list-style: none;
        a {
          text-decoration: none;
          color: $Dark-grayish-blue;
          font-weight: 500;
          &:hover {
            color: black;
          }
        }
      }
    }
  }

  .nav-content-box-right {
    position: relative;
    width: 11%;
    @include flexible-row-space;
    .nav-btn {
      border: none;
      position: relative;
      background: none;
      outline: none;
      &:hover {
        cursor: pointer;
      }

      .nav-basket-num {
        display: none; /* sepetin rakam iconu burada */
        position: absolute;
        background-color: $Orange;
        color: white;
        border-radius: 100%;
        width: 20px;
        padding: 2px;
        top: -25px;
        right: 0px;
      }
    }

    .nav-profile-photo {
      border: none;
      background: none;
      outline: none;
      cursor: pointer;
      img {
        height: 50px;
        /* border: 2px solid $Orange; */
        border-radius: 50px;
      }
    }

    .nav-card-container {
      display: none; /* Navcard kutusu burada */
      padding: 10px;
      background-color: $White-color;
      box-shadow: 0px 10px 10px 1px gray;
      position: absolute;
      top: 60px;
      right: 0;
      width: 350px;
      z-index: 25;
      .card-header {
        margin: 0;
        height: 7vh;
        border-bottom: 1px solid darkgray;
      }
      .nav-card-content {
        @include flexible-column-center;
        .card-img-write {
          @include flexible-row-space-around;

          p {
            padding: 10px;
            color: $Dark-grayish-blue;
            strong {
              color: black;
            }
          }
          .nav-card-delete-btn {
            border: none;
            background: none;
            color: $Dark-grayish-blue;
            outline: none;
            &:hover {
              color: brown;
            }
          }
          img {
            border-radius: 5px;
            height: 45px;
          }
        }

        .nav-card-check-btn {
          margin-left: 4.5%;
          border: none;
          outline: none;
          background-color: $Orange;
          color: white;
          width: 90%;
          height: 7vh;
          border-radius: 10px;
        }
      }
      .blank-card {
        display: block;
        text-align: center;
      }
    }
  }
  .sidebar-container {
    display: none;
  }
}

/* 820 px de bozulma var responsivini ona göre ayarla */

@media (max-width: 480px) {
  .navbar-container {
    width: 100%;
    padding: 2%;
    border-bottom: none;
    .nav-content-box-left {
      flex-direction: row-reverse;
      align-items: center;
      justify-content: space-around;

      .nav-link-container {
        display: none !important;
      }

      .media-nav-menu-icon {
        display: block !important;
        height: 3vh;
      }
    }
    .nav-content-box-right {
      width: 30%;
      justify-content: space-around;
      .nav-profile-photo {
        img {
          border: none;
        }
      }
    }

    .sidebar-container {
      display: none;
      position: absolute;
      background-color: $Light-grayish-blue;
      width: 60%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 16;
      padding: 20px;
      .sidebar-content {
        margin-top: 30%;
        padding: 0;
        li {
          margin-top: 10%;
          list-style: none;
          a {
            font-weight: 600;
            text-decoration: none;
            color: $Very-vark-blue;
          }
        }
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px){

  .navbar-container {
    width: 100% ;
    .nav-content-box-left{
      width: 80%;
      .nav-link-container{
        font-size: 14px;
      }
    }
    .nav-content-box-right{
      width: 15%;
    }
  }
} 

@media (min-width: 769px) and (max-width: 1024px){
  .navbar-container {
    width: 80% ;
    .nav-content-box-left{
      width: 80%;
    }
  }
}